@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300&display=swap');

html, body {
  margin: 0;
  padding: 0;
  background-color: #f1f2f6;
  font-family: 'Merriweather Sans', sans-serif;
}